/*
main.css
这个是网页统一格式，每个网页必须调用本css，并且使用template.html的模板，
才可以保证风格统一。

要求：可选样式使用id，不能使用class，部分可选样式已经使用了class，复制一份使用id的，
以保证原先的代码正常运行但是规则要求必须使用id，class用在基础格式上。
*/


/*#################################*/
/*这个是基础格式，必须调用

要求：可选样式使用id，不能使用class，部分可选样式已经使用了class，复制一份使用id的，
以保证原先的代码正常运行但是规则要求必须使用id，class用在基础格式上。
*/


body{
    font-family: "Microsoft YaHei", "微软雅黑", sans-serif;
    background-color: #cce7ff;
    justify-content: center;

}
#index1{/*可选格式，如果不想有下滑条等的话   应用于<body>*/
    display: flex;

    align-items:center;
    height: 90vh;

    /*服务于背景图片*/
    position: relative; /* 确保内容层级高于图片 */
    z-index: 2; /* 保证内容在图片之上 */
}



.main{
    display: flex;
    width: 90%;
    height: 90%;
}






/*调用背景图片动画*/
.background-image {/*应用于<img>*/
    position: absolute;
    z-index: -1; /* 保证图片在内容之下 */
    right: 0%;
    opacity: 1;
    height: 90vh;
    
    /*动画*/


    animation: background-image 1s forwards;
    
}
/*#################################*/







/*#################################*/
/*以下是可选格式，包括一些控件的模板可以调用


要求：可选样式使用id，不能使用class，部分可选样式已经使用了class，复制一份使用id的，
以保证原先的代码正常运行但是规则要求必须使用id，class用在基础格式上。
*/



/*链接文本1*/
.LinkText1{
    text-decoration: none;
    color: black;
}
#LinkText1{
    text-decoration: none;
    color: black;
}



.button{/*按钮样式*/
    border: 2px solid black;
    padding: 10px 10px;
    border-radius: 5px;
    color: black;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    transition: 0.5s;
}
.button:hover{
    background-color: #0b26364d;
}
#button{/*按钮样式*/
    border: 2px solid black;
    padding: 10px 10px;
    border-radius: 5px;
    color: black;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    transition: 0.5s;
}
#button:hover{
    background-color: #0b26364d;
}






.button1{/*按钮样式1*/
    border: 2px solid #0b2636;
    background-color: #0b2636;
    padding: 10px 10px;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    transition: 0.5s;
}
.button1:hover{
    background-color: #0a476a;
}

#button1{/*那个傻逼tmd用了class*/
    border: 2px solid #0b2636;
    background-color: #0b2636;
    padding: 10px 10px;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    transition: 0.5s;
}
#button1:hover{
    background-color: #0a476a;
}









/*毛玻璃div*/
.DivStyle-Glass{
    backdrop-filter: blur(5px); /*毛玻璃效果*/
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    border-radius: 30px;
}
#DivStyle-Glass{
    backdrop-filter: blur(5px); /*毛玻璃效果*/
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    border-radius: 30px;
}





/*#################################*/







/*#################################*/
/*动画*/



@keyframes background-image {
    0%{
        right: -50%;
        opacity: 0;
    }
    100%{
        top: 0;
        opacity: 1;
    }
}
/*#################################*/

/* 当长宽比小于1:1时，使用另一种排版 */
@media (max-aspect-ratio: 1/1){
    body{
        font-size: 33px;
    }
}